body{
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
}
li{
	list-style: none;
}
.nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5%;
}
.first li{
	display: inline;
	margin-left: 2%;
}
.second li{
	display: inline;
	margin-left: 2%;
}
#log{
	color: white;
}

/* .split-background #nav{
	padding-top: 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	list-style: none;

} */
/* #nav li{
	display: inline;
	margin-left: 9%;
	cursor: pointer;
}
#log{
	color: white;
}
#member, #project{
	color: white;
} */
